.button-text {
    height: 40px;
    background-color: #6EE0FB;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: none;
    width: 100%;
}

.button-text:hover {
    cursor: pointer;
    background-color: rgb(143, 234, 255);
}
