.form {
    width: 100%;
    margin-bottom: 20px;
}
.form-input {
    height: 50px;
    border: 1px solid #cfcfcf;
    font-size: 1rem;
}
.form-input::-webkit-input-placeholder{
    font-size: 1.25rem;
}
.form-label {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 10px;
}


