.root-home {
    height: 900px;
    margin-bottom: 80px;
}

.title-home {
    margin-top: 70px;
    font-size: 50px;
    margin-bottom: 40px;
}

.image-selfie {
    width: 400px;
    height: 400px;
    margin-bottom: 40px;
}
@media only screen and (max-width: 800px) {
    /* .image-selfie {
        width: 250px;
        height: 250px;
    }
    .title-home {
        margin-top: 200px;
    } */
}

.home-info {
    font-size: 20px;
}